{
  "production": {
    "app_function": "app.app",
    "aws_region": "us-east-1",
    "profile_name": "default",
    "project_name": "shopstream-api",
    "runtime": "python3.11",
    "s3_bucket": "shopstream-raw-aad",
    "role_name": "LabRole",
    "manage_roles": false,
    "environment_variables": {
      "RDS_HOST": "YOUR_RDS_ENDPOINT.rds.amazonaws.com",
      "RDS_USER": "YOUR_DB_USER",
      "RDS_PASSWORD": "YOUR_DB_PASSWORD",
      "RDS_DB": "postgres"
    },
    "timeout_seconds": 30,
    "memory_size": 256
  }
}
